<nav class="navigation">
	<ul class="nav-list">
		<li class="{% if page.url == '/' %} current_path current{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
		<li class='{% if page.url == "/pages/setup.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/setup.html">Hardware Setup</a></li>
		<li class='{% if page.url == "/pages/latency.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/latency.html">Figure 1</a></li>
		<li class='{% if page.url == "/pages/packet_rate.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/packet_rate.html">Figure 4</a></li>
		<li class='{% if page.url == "/pages/latency.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/latency.html">Figure 5</a></li>
		<li class='{% if page.url == "/pages/latency.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/latency.html">Figure 6</a></li>
		<li class='{% if page.url == "/pages/burst.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/burst.html">Figure 7</a></li>
		<li class='{% if page.url == "/pages/burst.html" %} current_path current{% endif %}'><a href="{{ site.baseurl }}/pages/burst.html">Figure 8</a></li>
	</ul>
</nav>
